body {
    background-color: #333344;
    color:antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.listcontainer {
    border-style: solid;
    border-width: 2px;
    border-radius: 0px 25px 0px 0px;
    padding: 3px;
    margin: 3px;
    border-bottom: none;
    border-left: none;
    border-right: #333344;
}

.samplecontainer {
    display: inline-block;
    margin-right: 3px;
    width: -webkit-calc(100% - 150px);
    height: -webkit-fill-available;
}

.menucontainer {
    display: inline-block;
    width: fit-content;
    display: inline-block;
    width: fit-content;
    height: -webkit-fill-available;
    margin-top: 3px;
    vertical-align: top;
}

.sampletext {
    margin: 3px;
    width: -webkit-fill-available;
    height: 16px;
    background-color: #333344;
    color: antiquewhite;
    border-style: none;
    resize:vertical;
}
.sampletextexpanded {
    margin: 3px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: #333344;
    color: antiquewhite;
    border-style: none;
    resize:vertical;
}

.expanded {
    height: 200px;
}

.clickable:hover {
    color: rgb(22, 155, 73);
}

.btn {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.reclip {

}
.expand {

}
.menu {

}
.bookmark {

}





.icon {
    width: 32px;
    height: 32px;
}



.searchbar {
    padding: 3px;
    width: 100%;
}
.searchlabel {
    display: inline;
    font-size: small;

}