body {
    background-color: #333344;
    color:antiquewhite;
}


.listcontainer {
    
    border-style: ridge;
    border-width: 3px;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
}

.samplecontainer {
    display: inline-block;
    margin-right: 3px;
    width: -webkit-calc(100% - 182px);
    height: -webkit-fill-available;
}

.menucontainer {
    display: inline-block;
    width: fit-content;
    display: inline-block;
    width: fit-content;
    height: -webkit-fill-available;
    margin-top: 3px;
    vertical-align: top;
}

.sampletext {
    margin: 3px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: #333344;
    color: antiquewhite;
    border-style: none;
    resize:vertical;
}
.sampletextexpanded {
    margin: 3px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: #333344;
    color: antiquewhite;
    border-style: none;
    resize:vertical;
}

.expanded {
    height: 200px;
}

.clickable:hover {
    border-color: chartreuse;
}

.btn {
    width: 32px;
    height: 32px;
    background-color: #555577;
    display: inline-block;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 5px;
    border-width: 2px;
    margin: 2px;
}

.reclip {

}
.expand {

}
.menu {

}
.bookmark {

}





.icon {
    width: 32px;
    height: 32px;
}